/* <== start header ===> */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background : var(--dark-color);
    transition: var(--transition);
}

.header--whithout-background{
    background : linear-gradient(to right ,rgba(0, 0, 0, 0.7)  , rgba(255, 255, 255, 0) 30%);
}

.menu {
    gap: 3rem;
}

.header__content {
    height: 7rem;
}

.header__menu{
    z-index: 1000;
    transition: var(--transition);
}

.header__menu-icon{
    display: none;
    font-size: 4rem;
    color: var(--light-color);
}

.menu__link {
    font-size: 3rem;
    color: var(--light-color);
}

.header__menu--open{
    right: 0 !important;
}

.header__close-menu-icon{
    display: none;
}

.header__mobile-menu-logo{
    display: none;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 2rem;
}

.header__mobile-menu-logo-text{
    font-size: 3rem !important;
}

.menu-item--has-submenu {
    position: relative;
}

.submenu {
    position: absolute;
    padding: 1rem 2rem;
    gap: 1rem;
    border-radius: var(--border-radius);
    background-color: rgba(29, 5, 5, 0.9);
    box-shadow: 0 0 2rem -.5rem rgba(255, 255, 255, 0.3);
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
}

.submenu__link {
    text-wrap: nowrap;
    font-size: 2rem;
}

.logo__text ,.header__mobile-menu-logo-text {
    font-size: 5rem;
    color: var(--primary-color);
    text-shadow: 0 0 1rem var(--primary-color);
}

.submenu__icon::before {
    color: var(--light-color);
    transition: var(--transition);
}

.menu-item--has-submenu:hover .submenu__icon::before {
    transform: rotate(-90deg);
    color: var(--primary-color);
}

.menu-item--has-submenu:hover .submenu {
    pointer-events: all;
    transform: translateY(1rem);
    opacity: 1;
}

.header__shadow-menu{
    position: fixed;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -100;
    background-color: rgba(0, 0, 0, 0.8);
    transition: var(--transition);
}

.header__shadow-menu--show{
    opacity: 1 !important;
    z-index: 100;
}

/* <== end header ===> */

/* main */

/* <== start bread-crum ==> */

.breadcrumb {
    margin: 10rem 0;
    margin-bottom: 2rem !important;
}

.breadcrumb__content {
    display: flex;
    width: 100%;
    background-color: rgba(220, 119, 24, 0.4);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    box-shadow: inset -3px -3px 7px #ffffff90 , inset 2px 2px 7px #00000090;
}

.breadcrumb__home-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--light-color);
    border-radius: 1rem;
}

.breadcrumb__home-icon {
    font-size: 1.8rem;
    color: #000;
}

.breadcrumb__list {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.breadcrumb__item {
    list-style: none;
}

.breadcrumb__link {
    display: flex;
    align-items: center;
    font-size: 3rem;
    color: var(--light-color);
}

.breadcrumb__link:hover {
    color: var(--secondary-color);
}

.breadcrumb__icon {
    color: var(--light-color);
    font-size: 1.5rem;
    margin: 0 0.7rem;
}

/* <== end bread-crum ==> */


/* start article */
.articleInfo-main{
    margin-bottom: 2rem;
}
.product-info , .article-info , .article{
    padding: 2.4rem;
    border-radius: 2rem;
    box-shadow:inset 0 0px 1rem rgb(0, 0, 0);
    margin-top: 1rem;
}
.article {
    text-align: start;
}

.article img{
    width: 100%;
    border-radius: 2rem;
}

.article__title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 1rem;
}

.article__header {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.article-header__item {
    margin-left: 2rem;
}

.article-header__icon {
    font-size: 2rem;
    color: var(--primary-color);
    margin-left: 0.5rem;
}

.article-header__text {
    font-family: var(--text-color);
    font-size: 2rem;
    color: var(--secondary-color);
}

.article__banner {
    margin-top: 4rem;
}

.article__score {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.article__score-icon {
    margin-left: 0.4rem;
    color: var(--primary-color);
}

.article__score-text {
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--secondary-color);
}

.article-section {
    margin: 5rem 0;
}

.article-section h2,
.article-section h3,
.article-section h4,
.article-section h5,
.article-section h6{
    color: var(--primary-color);
    font-weight: bold;
    line-height: 1.3;
    font-family: var(--text-font);
}

.article-section h2{
    margin: 2rem 0;
    font-size: 3rem;
}

.article-section h3{
    margin: 1.5rem 0;
    font-size: 2.5rem;
}

.article-section h4,
.article-section h5,
.article-section h6{
    margin : 1rem 0;
    font-size: 2rem;
}

.article-section p {
    margin-bottom: 1rem;
    font-size: 1.9rem;
    color: var(--light-color);
    line-height: 2;
    text-align: justify;
    font-family: var(--text-font);
}

.article-section ul{
    margin-bottom: 1rem;
}

.article-section ul li{
    list-style-position: inside;
    list-style-type: disc;
    margin: 0.5rem 0;
    color: var(--secondary-color);
}

.article-section img {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 2rem;
}

.article-social-media {
    display: flex;
    align-items: center;
}

.article-social-media__text {
    font-size: 2rem;
    color: var(--primary-color);
}

.article-social-media__link {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    color: var(--primary-color);
}

.articles-info{
    position: sticky;
    top: 10rem;
}

.product-info__products-title , .article-info__articles-title{
    display: block;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-size: 2.5rem;
    font-family: var(--text-font);
}

.article-info , .product-info{
    background-color: #9a5c456e;
}

.product-info__product-list-item , .last-articles__item{
    margin-bottom: 1rem;
    /* border-bottom: 1px solid var(--secondary-color); */
    box-shadow: 0 0 1rem #000;
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

.last-articles__item{
    padding: 1rem 0.5rem;
}

.product-info__product-link , .last-articles__link{
    display: flex;
    align-items: center;
    justify-content: start;
}

.product-info__product-img , .article-info__article-img{
    width: 10%;
}

.product-info__product-text , .article-info__article-text{
    font-family: var(--text-font);
    color: var(--secondary-color);
    transition: all ease 300ms;
    font-size: 2rem;
    width: 90%;
}

.product-info__product-text:hover , .article-info__article-text:hover{
    color: var(--primary-color);
}

/* end article */
/* main */

/* <== start footer ==> */
.footer{
    background: url(./../../images/footer-background.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 4rem;
}

.footer__content{
    padding-bottom: 3rem;
}

.footer-item__title{
    display: inline-block;
    font-size: 3rem;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
}

.footer-item__text{
    color: var(--secondary-color);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.footer-item__icon{
    color: var(--primary-color);
}

.footer-item__menu{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.footer-item__link{
    font-size: 2rem;
    font-family: var(--text-font);
    color: var(--primary-color);
}

.footer-item__img{
    width: 100%;
}

.footer__bottom{
    padding: 2rem 0;
    border-top: 1px solid var(--secondary-color);
}

.footer__copy-right{
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--text-font);
    text-align: center;
}
/* <== end footer ==> */