body {
    background: #53260a;
}

/* start sidebar */
.user-panel-sidebar {
    position: fixed;
    height: 95vh;
    top: 2.5vh;
    width: 30rem;
    overflow-y: auto;
    background-color: #eea058cc;
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem #eea058cc;
    padding: 1rem;
}

.user-panel-sidebar__logo {
    text-align: center;
    font-size: 4rem;
    color: var(--dark-color);
    text-shadow: 0 0 1rem var(--dark-color);
    margin: 1rem 0;
}

.user-panel-sidebar__divider-line {
    height: 2px;
    background-color: var(--dark-color);
    opacity: 1;
}

.user-panel-sidebar__menu {
    gap: 2rem;
}

.user-panel-sidebar__icon{
    margin-left: 1rem;
}

.user-panel-sidebar__link , .user-panel-sidebar__back-link {
    color: var(--dark-color);
    font-family: var(--text-font);
    font-size: 2.5rem;
}

.user-panel-sidebar__link:hover , .user-panel-sidebar__back-link:hover{
    color: var(--light-color);
}

.user-panel-sidebar__back-links{
    width: 28rem;
    position: absolute;
    bottom: 2rem;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 2px solid var(--dark-color);
}

/* end sidebar */

/* start user-panel-header */
.user-panel-header{
    margin-right: 31rem;
    margin-top: 2.5vh;
    background-color: #eea058cc;
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem #eea058cc;
    padding: 1.5rem;
}
.user-panel-header__user-infos{
    align-items: end;
    margin-left: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}
.user-panel-header__user-img{
    width: 5rem;
    border-radius: 50%;
    border: 3px solid var(--dark-color);
}
.user-panel-header__menu-icon{
    font-size: 3rem;
    cursor: pointer;
}
/* end user-panel-header */

/* main */
.user-panel{
    margin-top: 2rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-right: 31rem;
    background-color: #eea058cc;
    border-radius: var(--border-radius);
    box-shadow: 0 0 1rem #eea058cc;
    min-height: 100%;
}

.user-panel__title{
    color: var(--dark-color);
    text-shadow: 0 0 1rem var(--dark-color);
    margin-top: 1rem;
}

/* start console */
.console__intro , .console__sub-intro{
    font-family: var(--text-font);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.console__user-name{
    color: black;
    font-size: 2.6rem;
}

.console__intro-logout{
    color: var(--light-color);
}

.console__quick-link{
    margin-top: 2rem;
}

.console__link-box{
    display: flex;
    width: 100%;
    padding: 4rem 1.5rem;
    border-radius: var(--border-radius);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #e67a13; */
    background-color: #0000000b;
    box-shadow: 0 0 1rem #00000081;
    color: var(--dark-color);
    transition: var(--transition);
}

.console__link-box:hover{
    color: var(--light-color);
}
.console__link-box-icon{
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.console__link-text{
    font-size: 2.5rem;
}
/* end console */

/* Start adresses */

.adresses__btn-group{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-family: var(--text-font);
    color: var(--dark-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.adresses__label{
    margin-bottom: 0.3rem;
}

.adresses__input{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    width: 100%;
    background-color: #0000000b;
    box-shadow:inset 0 0 1rem #00000081;
}
textarea.adresses__input{
    resize: none;
    min-height:15rem ;
}

.adresses__input::placeholder{
    color: #bbb;
}

.adresses__btn-submit{
    border: none;
    width: auto;
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem var(--primary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.adresses__btn-submit:hover{
    background-color: #ff7c00;
}

.adresses__divider{
    opacity: 1;
    background-color: var(--dark-color);
}

.adresses__saved-adresses{
    color: var(--dark-color);
    font-size: 3rem;
}

.adress-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: var(--text-font);
    color: var(--dark-color);
    margin-top: 1rem;
    background-color: #0000000b;
    box-shadow: 0 0 1rem #00000081;
    padding: 1rem;
    border-radius: var(--border-radius);
    position: relative;
}

.adress-box__name{
    font-size: 2.5rem;
}

.adress-box__phone{
    opacity: .7;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.adress-box__adress{
    font-size: 2.5rem;
}

.adress-box__trash-icon{
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.adress-box__trash-icon:hover{
    background-color: #ff7c00;
}
/* end adresses */

/* start popular-product */
.product-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-self: center;
    border-radius: var(--border-radius);
    padding: 2rem 2.5rem;
    background-color: #0000000b;
    box-shadow: 0 0 1rem #00000081;
}

.product-box__cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.product-box__img {
    transition: var(--transition);
    width: 100%;
    margin-bottom: -0.6rem;
}

.product-box:hover .product-box__img {
    transform: scale(1.1);
}

.product-box__cover-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background: rgba(220, 119, 24, 0.2);
}

.product-box__title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 700;
    margin-top: 1rem;
}

.product-box__score {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    margin: 1rem 0;
}

.product-box__star-icon {
    color: var(--secondary-color);
}

.product-box__bottom {
    width: 100%;
}

.product-box__like-bag {
    gap: 0.5rem;
}

.product-box__heart-icon,
.product-box__like-icon {
    color: var(--dark-color);
    opacity: 0.9;
    font-size: 2rem;
    cursor: pointer;
}

.product-box__price {
    font-size: 2.5rem;
    color: var(--dark-color);
    opacity: 0.9;
}
/* end popular-product */

/* start user-infos */
.user-infos__btn-group{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 2rem;
    width: 100%;
    font-family: var(--text-font);
    font-size: 2rem;
    color: var(--dark-color);
}

.user-infos__label{
    opacity: .8;
}

.user-infos__input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #914301;
    flex: 1;

}

.user-infos__file-input::-webkit-file-upload-button{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    border: none;
    color: var(--light-color);
    cursor: pointer;
}

.user-infos__submit-wrapper{
    width: 100%;
    text-align: end;
}

.user-infos__submit{
    border: none;
    width: auto;
    background-color: var(--primary-color);
    box-shadow: 0 0 1rem var(--primary-color);
    padding: 1rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.user-infos__submit:hover{
    background-color: #ff7c00;
}

/* end user-infos */
/* main */