*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: var(--main-font);
    /* background-color: #97523933; */
    background-image: url(./../images/body-background.jpg);
    background-position: center top;
    background-size: contain;

}

a{
    text-decoration: none;
    color: inherit;
    transition: all ease 300ms;
    color: var(--light-color);
    transition: var(--transition);
}

a:hover{
    color: var(--primary-color);
}

section{
    margin: 6rem 0;
}



/* ul{
    list-style-type: none;
} */