/* sayeh */

@font-face {
    font-family: 'sayeh';
    src: url(./../fonts/sayeh-1.TTF) format(truetype);
}

@font-face {
    font-family: 'faraz';
    src: url(./../fonts/Mj_Faraz_0.TTF) format(truetype);
}