.flex-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-center-start{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.app-icon{
    color: var(--primary-color);
}

.section-title{
    text-align: center;
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 3rem;
    font-weight: 800;
}

.section-btn {
    text-align: center;
    margin-top: 4rem;
}

.section-btn__link {
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 2.5rem;
    padding: 0 1rem;
}

.section-btn__link:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
}