:root{

    --transition : all ease 300ms;
    --border-radius : 1.5rem;

    --main-font : 'sayeh';
    --text-font : 'faraz';

    --light-color : #eee;
    /* --dark-color : #282828; */
    --dark-color : #1d0505;
    --primary-color : #dc7718;
    --secondary-color : #ffad14;
    --product-box-color : #e9e9e9;
    --text-color : #121212;
}